<%# -----Meeting section----- %>
<div class="flex justify-center items-center flex-col h-[calc(100vh-4rem)] w-full border-b-2 border-brandy-rose">

  <div class="flex items-center h-screen w-full">


    <div class="w-3/5 bg-worker bg-cover bg-no-repeat bg-center h-full"></div>

    <div class="flex flex-col items-center justify-center w-2/5 h-full font-train text-6xl uppercase text-brandy-rose bg-mine-shaft">
      <span>Break'n'build</span>
      <span class="font-sans font-medium text-2xl my-2">Самые лучшие инструменты</span>
      <div class="flex items-center justify-center group mt-5">
        <div class="h-px w-20 bg-gradient-to-l from-white to-transparent transition-all duration-300 group-hover:w-0"></div>
        <%=
          link_to "Открыть каталог", products_path,
            class:"bg-transparent border border-white border-solid " \
                  "rounded-md font-sans font-bold text-2xl " \
                  "text-white uppercase px-5 py-3 " \
                  "ease-in-out delay-200 duration-200 " \
                  "outline outline-2 outline-transparent " \
                  "transition-all group-hover:outline-white " \
                  "group-hover:border-white group-hover:bg-white " \
                  "group-hover:text-mine-shaft"
        %>
        <div class="h-px w-20 bg-gradient-to-r from-white to-transparent transition-all duration-300 group-hover:w-0"></div>
      </div>
    </div>
  </div>

</div>

<%# -----Novelties section----- %>
<div class="my-10 flex items-center justify-center bg-brown shadow-main h-12 w-full">
  <div class="flex items-center justify-between w-4/6">
    <span class="relative uppercase font-sans font-bold text-2xl text-white after:w-180 after:h-1 after:bg-white after:absolute after:left-0 after:top-9 before:w-180 before:h-1 before:bg-brown before:absolute before:left-0 before:top-10">Новинки</span>
    <%= link_to "Смотреть все", products_path, class: "uppercase font-sans font-semibold tracking-wide text-sm bg-brown text-white py-1.5 hover:px-3 rounded hover:bg-white hover:cursor-pointer hover:text-brown focus:outline-none focus:ring-0 active:bg-brown active:shadow-lg transition-all duration-150 ease-in-out flex items-center" %>
  </div>
</div>

<div class="flex items-center justify-center">
  <div class="flex items-center justify-between w-4/6">
    <% @products.each do |product| %>
      <%= render "home_product", product: product %>
    <% end %>
  </div>
</div>

<%# -----Bestsellers section----- %>
<div class="my-10 flex items-center justify-center bg-brown shadow-main h-12 w-full">
  <div class="flex items-center justify-between w-4/6">
    <span class="relative uppercase font-sans font-bold text-2xl text-white after:w-180 after:h-[4px] after:bg-white after:absolute after:left-0 after:top-9 before:w-180 before:h-1 before:bg-brown before:absolute before:left-0 before:top-10">Бестселлер</span>
    <%= link_to "Смотреть все", products_path, class: "uppercase font-sans font-semibold tracking-wide text-sm bg-brown text-white p-1.5 hover:px-3 rounded hover:bg-white hover:cursor-pointer hover:text-brown focus:outline-none focus:ring-0 active:bg-brown active:shadow-lg transition-all duration-150 ease-in-out flex items-center" %>
  </div>
</div>

<div class="flex items-center justify-center">
  <div class="flex items-center justify-between w-4/6">
    <% @products.each do |product| %>
      <%= render "home_product", product: product %>
    <% end %>
  </div>
</div>

<%# -----About us section----- %>
<div class="bg-alabaster">
  <div class="flex items-center justify-center mt-10 border-y border-solid border-dusty-gray shadow-[0px_5px_30px_rgba(0,0,0,0.15)] h-12 bg-alabaster">
    <div class="flex items-center w-4/6 font-bold text-downriver text-2xl uppercase">
      <span>О нас</span>
    </div>
  </div>

  <div class="flex items-center justify-center py-24">
    <div class="flex items-center justify-between w-4/5">
      <span class="text-azure text-lg w-[42%]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam saepe incidunt aperiam veritatis expedita tenetur, illum minus optio quisquam aut, minima consequatur. Repudiandae quam praesentium obcaecati doloremque quidem eveniet?
      Unde voluptatum doloribus aut eligendi veritatis magni excepturi ullam fugit. Omnis, beatae laudantium dicta quaerat sint aspernatur quidem ipsa reiciendis alias ipsum, nihil distinctio. Quas sint adipisci corporis eaque alias?</span>
      <img class="rounded-x shadow-about-right skew-x-[-.4deg]" src="https://picsum.photos/seed/1/560/300" alt="">
    </div>
  </div>

  <div class="flex items-center justify-center bg-seashell py-24">
    <div class="flex items-center justify-between w-4/5">
      <img class="rounded-x shadow-about-left skew-x-[.4deg]" src="https://picsum.photos/seed/2/560/300" alt="">
      <span class="text-azure text-lg w-[42%]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis ratione veritatis quod ipsam. Cum, voluptatum? Blanditiis expedita debitis illo, magni consequuntur tempore accusamus. Vero vel quasi facere beatae incidunt sed.</span>
    </div>
  </div>
</div>

<%# -----Reviews section----- %>
<div class="bg-[#E9E9E9]">
  <div class="flex items-center justify-center border-y border-solid border-[#7C7C7C] h-12">
    <div class="flex items-center w-4/6 font-bold text-downriver text-2xl uppercase">
      <span>Отзывы</span>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <div class="flex items-center justify-between w-4/6 py-3">
      <div class="flex items-center w-3/4 h-[72px]">
        <div class="bg-mine-shaft w-3 h-full rounded-l-full opacity-[17%] mr-3"></div>
        <span class="font-light text-downriver">Супер круто классно шик В связи с этим нужно подчеркнуть, что мелькание мыслей случайно. Скрытый смысл жизненно начинает стиль. Примочка, без использования формальных признаков поэзии, представляет собой флажолет.</span>
      </div>
      <div class="flex flex-col items-center justify-center text-[#8E8E8E] font-regular uppercase py-4">
        <span class="mb-4 text-sm">Юзернейм</span>
        <span class="mb-4 text-sm">Юзернейм</span>
        <span class="font-semibold text-downriver mb-4">Юзернейм</span>
        <span class="mb-4 text-sm">Юзернейм</span>
        <span class="text-sm">Юзернейм</span>
      </div>
    </div>
  </div>
</div>
