<div class="border-b border-brandy-rose">
  <div class="flex items-center py-2 mx-auto w-4/6 text-[13px]">
    <%= link_to "<< История 1", root_path, class: "hover:underline mr-1" %>
    <%= link_to "<< История 2", root_path, class: "hover:underline mr-1" %>
    <%= link_to "<< История 3", root_path, class: "hover:underline mr-1" %>
    <%= link_to "<< История 4", root_path, class: "hover:underline mr-1" %>
    <%= link_to "<< История 5", root_path, class: "hover:underline" %>
  </div>
</div>
