<div class="flex items-center justify-center py-6 bg-brown text-white">
  <div class="flex flex-row justify-between w-4/6">
    <div class="flex flex-col relative after:w-full after:h-1 after:bg-white after:absolute after:left-0 after:-bottom-6 before:w-full before:h-1 before:bg-brown before:absolute before:left-0 before:-bottom-7">
      <span class="font-bold text-base">Электроинструменты</span>
      <div class="flex flex-col text-sm">
        <%= link_to "Дрели", products_path(category: "drills"), class: "hover:scale-105 transition-transform ease-out duration-150" %>
        <%= link_to "Шуруповерты", products_path(category: "screwdrivers"), class: "hover:scale-105 transition-transform ease-out duration-150" %>
        <%= link_to "Аккумуляторы и зарядные устройства", products_path(category: "chargers"), class: "hover:scale-105 transition-transform ease-out duration-150" %>
        <%= link_to "Перфораторы", products_path(category: "perforators"), class: "hover:scale-105 transition-transform ease-out duration-150" %>
      </div>
    </div>
    <div class="flex flex-col">
      <span class="font-bold text-base">Оснастка</span>
      <div class="flex flex-col text-sm">
        <%= link_to "Биты", products_path(category: "screwdriver_bits"), class: "hover:scale-110 transition-transform ease-out duration-150" %>
        <%= link_to "Буры", products_path(category: "perforator_bits"), class: "hover:scale-110 transition-transform ease-out duration-150" %>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
