<div class="flex flex-col m-0 lg:ml-3 my-5 mb-0 2xl:mb-5 w-full">
  <% @products.each_slice(3) do |product_row| %>
    <div class="flex flex-col 2xl:flex-row md:items-center lg:items-start mb-[2%] last:mb-0">
      <% product_row.each do |product| %>
        <div class="flex flex-col items-center md:rounded-x border-y md:border border-solid border-silver w-full mb-5 2xl:mb-0 2xl:w-[32%] 2xl:mr-[2%] last:mr-0">
          <% if product.image %>
            <%= image_tag product.image_url, class: "md:rounded-t-x h-[260px]" %>
          <% else %>
            <%= image_tag "https://thumbs.dreamstime.com/b/building-tools-hand-drawn-sketch-construction-vector-illustration-building-tools-hand-drawn-sketch-construction-vector-189008948.jpg", class: "h-[260px] md:rounded-t-x" %>
          <% end %>
          <div class="flex flex-col items-center uppercase bg-alabaster text-dark-brown md:rounded-b-x w-full px-5 py-4">
            <% if product.title.length > 15 %>
              <span class="font-sans font-light text-base text-center w-full"><%= product.title.truncate(23) %></span>
            <% else %>
              <span class="font-sans font-light text-base text-center w-full"><%= product.title %></span>
            <% end %>
            <span class="font-sans font-light text-base normal-case">"<%= product.brand.name %>"</span>

            <div class="flex items-center justify-between w-full mt-6">
              <div class="flex flex-col items-start w-full sm:items-center 2xl:flex-col 2xl:items-start justify-between sm:w-[40%] 2xl:w-full sm:flex-row">
                <% if product.stock %>
                  <span class="text-[13px]">В наличии</span>
                <% else %>
                  <span class="text-[13px]">Не в наличии</span>
                <% end %>
                <span class="font-sans font-regular text-lg"><%= product.price %> &#8376;</span>
              </div>
              <div class="flex w-[50%] 2xl:w-full items-center justify-center">
                <%= link_to "Перейти", product_path(product), class: "flex items-center justify-center normal-case w-full bg-brown py-2 px-4 rounded-md text-white hover:bg-dark-brown font-medium" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
