<div class="flex flex-col m-5 mr-0 w-full">
  <% @products.each_slice(3) do |product_row| %>
    <div class="flex mb-[2%] last:mb-0">
      <% product_row.each do |product| %>
        <div class="flex flex-col items-center rounded-x border border-solid border-silver w-[32%] mr-[2%] last:mr-0">
          <% if product.image %>
            <%= image_tag product.image_url, class: "rounded-t-x h-[260px]" %>
          <% else %>
            <%= image_tag "https://thumbs.dreamstime.com/b/building-tools-hand-drawn-sketch-construction-vector-illustration-building-tools-hand-drawn-sketch-construction-vector-189008948.jpg", class: "h-[260px] rounded-t-x" %>
          <% end %>
          <div class="flex flex-col items-center uppercase bg-alabaster text-dark-brown rounded-b-x w-full px-5 py-4">
            <% if product.title.length > 15 %>
              <span class="font-sans font-light text-base text-center w-full"><%= product.title.truncate(20) %></span>
            <% else %>
              <span class="font-sans font-light text-base text-center w-full"><%= product.title %></span>
            <% end %>
            <span class="font-sans font-light text-base normal-case">"<%= product.brand.name %>"</span>

            <div class="flex items-center justify-between w-full mt-6">
              <div class="flex flex-col items-start justify-between w-full">
                <% if product.stock %>
                  <span class="text-[13px]">В наличии</span>
                <% else %>
                  <span class="text-[13px]">Не в наличии</span>
                <% end %>
                <span class="font-sans font-regular text-lg"><%= product.price %>ТГ</span>
              </div>
              <div class="flex w-full items-center justify-center">
                <%= link_to "Перейти", product_path(product), class: "flex items-center justify-center normal-case w-full bg-brown h-10 px-4 rounded-md text-white hover:bg-dark-brown font-medium" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
