<div class="flex flex-col items-center justify-center py-6 bg-[#E9E9E9] text-black">
  <div class="flex justify-between text-sm w-4/6">
    <span class="flex items-center">
      Поиск:
      <%= search_form_for(@query, method: :get, class: "flex items-center") do |f| %>
        <%= f.text_field :title_or_brand_name_i_cont_any, placeholder: "Название или бренд", class: "rounded text-[13px] text-gray-700 p-1 ml-2 focus:ring-transparent focus:border-orange-900" %>
        <%= f.text_field :price_gteq, placeholder: "Цена", class: "rounded text-[13px] text-gray-700 p-1 ml-2 focus:ring-transparent focus:border-orange-900" %>
        <%= f.submit "Найти", class: "px-4 h-[34px] ml-2 bg-brown text-white font-medium text-xs uppercase rounded shadow-md hover:bg-dark-brown hover:shadow-lg hover:cursor-pointer focus:bg-dark-brown focus:shadow-lg focus:outline-none focus:ring-0 active:bg-brown active:shadow-lg transition duration-150 ease-in-out flex items-center" %>
      <% end %>
    </span>
  </div>

  <% if @show_count %>
    <div class="flex justify-start w-4/6 mt-2">
      <span>Количество результатов: <%= @products.count %></span>
    </div>
  <% end %>
</div>
