<div class="bg-[#E9E9E9]">
  <div class="flex flex-col w-[70%]">
    <div class="flex justify-between">
      <%= link_to "Title", {sort_field: "title", sort_direction: @sort_direction}, {class: "w-[25%]"} %>
      <%= link_to "Brand", {sort_field: "brand_id", sort_direction: @sort_direction}, {class: "w-[25%]"} %>
      <%= link_to "Price", {sort_field: "price", sort_direction: @sort_direction}, {class: "w-[25%]"} %>
      <%= link_to "Stock", {sort_field: "stock", sort_direction: @sort_direction}, {class: "w-[25%]"} %>
    </div>
    <div class="flex justify-between flex-wrap">
      <% @products.each do |product| %>
        <span class="w-[25%]"><%= product.title %></span>
        <span class="w-[25%]"><%= product.brand.name %></span>
        <span class="w-[25%]"><%= sprintf("%.2f", product.price) %></span>
        <% if product.stock %>
          <span class="w-[25%]">В наличии</span>
        <% else %>
          <span class="w-[25%]">Нет в наличии</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
