<div class="flex flex-col items-center justify-center w-full">

  <div class="flex items-center justify-center w-full bg-brown">
    <div class="flex items-center py-3 w-full px-3 md:px-0 md:w-4/6 relative after:w-180 after:h-[4px] after:bg-white after:absolute after:left-3 md:after:left-0 after:bottom-0 before:w-180 before:h-1 before:bg-brown before:absolute before:left-3 md:before:left-0 before:-bottom-1">
      <span class="w-full overflow-x-auto overflow-y-hidden font-medium text-xl text-white"><%= @product.title %></span>
    </div>
  </div>

  <div class="flex flex-col lg:w-4/6 my-4 mx-3">

    <div class="flex flex-col lg:flex-row w-full mb-4">
      <div class="flex justify-center lg:justify-start w-full lg:w-auto mb-4 lg:mb-0">
        <% if @product.image %>
          <%= image_tag @product.image_url, class: "rounded-x h-[320px] shadow-header" %>
        <% else %>
          <%=
            image_tag "https://thumbs.dreamstime.com/b/building-tools-hand-drawn-sketch-construction-vector-illustration-building-tools-hand-drawn-sketch-construction-vector-189008948.jpg",
            class: "h-[320px] rounded-x shadow-header"
          %>
        <% end %>
      </div>

      <div class="flex flex-col justify-between lg:ml-6 grow">
        <div class="mb-4 lg:mb-0">
          <div class="flex items-center">
            <div class="py-2 px-3 rounded-md border-2 border-brown">
              <span class="font-semibold">Цена</span>
              <span class="pl-4"><%= @product.price %> &#8376;</span>
            </div>
          </div>

          <div class="my-2">
            <% if @product.stock %>
              <div class="flex items-center">
                <span class="mr-1">В наличии</span>
                <%= svg_tag "images/icons/checkmark-circle-outline.svg", class: "transition-colors duration-300 group-hover:fill-white w-6 h-6" %>
              </div>
            <% else %>
              <span>Не в наличии</span>
            <% end %>
          </div>

          <div class="flex">
            <% if @product.stock %>
              <% if @cart_products.include?(@product) %>
                <%= button_to product_remove_from_cart_path(@product.id), method: :delete, class: "flex items-center bg-brown py-2 px-4 rounded-md text-white hover:bg-dark-brown font-medium" do %>
                  <span class="mr-2">Удалить из корзины</span>
                  <%= svg_tag "images/icons/bag-remove-outline.svg", class: "transition-colors duration-300 group-hover:fill-white w-6 h-6" %>
                <% end %>
              <% else %>
                <%= button_to product_add_to_cart_path(@product), class: "flex items-center bg-brown py-2 px-4 rounded-md text-white hover:bg-dark-brown font-medium" do %>
                  <span class="mr-2">Добавить в корзину</span>
                  <%= svg_tag "images/icons/bag-add-outline.svg", class: "transition-colors duration-300 group-hover:fill-white w-6 h-6" %>
                <% end %>
              <% end %>
            <% else %>
              <%= button_to root_path, options = { disabled: true, class: "flex items-center cursor-default bg-gray-500 py-2 px-4 rounded-md text-white font-medium opacity-70" } do %>
                <span class="mr-2">Добавить в корзину</span>
                <%= svg_tag "images/icons/bag-add-outline.svg", class: "transition-colors duration-300 group-hover:fill-white w-6 h-6" %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="flex flex-col">
          <span class="font-semibold mb-2">Основная информация</span>

          <div class="flex flex-col text-white">
            <div class="bg-brown rounded-md mb-2 p-2 pl-4">
              <div class="flex w-[75%] md:w-[55%] lg:w-[65%] justify-between">
                <span class="font-semibold">Бренд:</span>
                <span class=""><%= @product.brand.name %></span>
              </div>
            </div>

            <div class="bg-brown rounded-md p-2 pl-4">
              <div class="flex w-[75%] md:w-[55%] lg:w-[65%] justify-between">
                <span class="font-semibold">Категория:</span>
                <span class=""><%= @category %></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <span class="font-semibold mb-2">Описание</span>
      <span class="bg-gray-100 p-4 rounded-md mb-4"><%= @product.description %></span>
    </div>

    <div class="flex flex-col">
      <span class="font-semibold mb-2">Технические характеристики</span>

      <div class="flex flex-col text-white">
        <% @stats.each do |key, value| %>
          <div class="bg-brown rounded-md mb-2 p-2 pl-4">
            <div class="flex w-[75%] md:w-[55%] justify-between">
              <span class="font-semibold"><%= key %>:</span>
              <span><%= value %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
