<!DOCTYPE html>
<html>
  <head>
    <title>BreakNBuild</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
  </head>
  <body data-controller="main" class="min-h-screen relative pb-80">
    <header class="z-40 flex items-center justify-center fixed top-0 w-full h-16 bg-mine-shaft py-2 border-b-2 border-transparent">
      <div class="flex items-center justify-between w-4/6">

        <div class="flex items-center font-sans font-medium text-white">
          <span>LOGO</span>
          <%= link_to "Главная", root_path, class: "mx-5 font-bold tracking-wide relative after:absolute after:transition-[width] after:ease-out after:duration-500 after:w-0 after:h-0.5 after:bg-brandy-rose after:-bottom-1 after:left-0 after:hover:w-full after:hover:opacity-100" %>
          <%= link_to "Каталог", products_path, class: "mx-5 font-bold tracking-wide relative after:absolute after:transition-[width] after:ease-out after:duration-500 after:w-0 after:h-0.5 after:bg-brandy-rose after:-bottom-1 after:left-0 after:hover:w-full after:hover:opacity-100" %>
        </div>

        <div class="flex items-center justify-between w-1/5">
          <%= link_to shopping_cart_index_path, class: "relative w-12" do %>
            <%= svg_tag "/images/icons/cart.svg", class:"h-12 w-10" %>
            <span class="text-sm bg-brandy-rose border-2 border-white text-white min-w-[22px] px-1 absolute top-0 right-0 rounded text-center">
              <%= @cart_count %>
            </span>
          <% end %>

          <% if user_signed_in? %>
            <%= link_to edit_user_registration_path, class: "flex items-center justify-center text-white font-bold h-12 w-12 border-2 rounded-md border-white bg-brandy-rose cursor-pointer uppercase text-xl" do %>
              <%= @email[0,2] %>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <%= svg_tag "/images/icons/person-sharp-fixed.svg", class:"h-12 w-12 border-2 rounded-md border-white bg-brandy-rose cursor-pointer" %>
            <% end %>
          <% end %>

        </div>
      </div>
    </header>

    <div class="z-50 flex flex-col items-center justify-center w-full fixed top-[63px]">
      <% if notice %>
        <p class="notice bg-emerald-100 w-2/5 border border-t-4 border-emerald-500 text-emerald-900 py-2 px-4 last:rounded-b-md break-words"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert bg-amber-100 w-2/5 border border-t-4 border-amber-500 text-amber-900 py-2 px-4 last:rounded-b-md break-words"><%= alert %></p>
      <% end %>
      <% if error %>
        <p class="error bg-red-100 w-2/5 border border-t-4 border-red-500 text-red-900 py-2 px-4 last:rounded-b-md break-words"><%= error %></p>
      <% end %>
    </div>

    <% unless @hide_margin %>
      <div class="h-16"></div>
    <% end %>

    <%= yield %>

    <footer class="flex items-center justify-center bg-mine-shaft text-brandy-rose py-10 absolute bottom-0 w-full h-80">
      <div class="flex flex-col justify-around w-4/5 text-sm">

        <div class="flex justify-between">
          <div class="w-80">
            <span class="font-train text-[40px] leading-[46px] uppercase">Break'n'build</span>
          </div>
          <div class="font-bold text-2xl w-80 uppercase"><span>Контакты</span></div>
          <div class="font-bold text-2xl w-80 uppercase"><span>Новости</span></div>
        </div>

        <div class="flex justify-between my-2">
          <div class="w-80">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut turpis egestas, imperdiet ligula a, ultrices mauris.</span>
          </div>
          <div class="w-80">
            <p>Адрес: Lorem ipsum dolor sit amet</p>
            <p class="flex flex-col">
              Тех. поддрежка:
              <span class="pl-3">— +7 123 456 78 90</span>
              <span class="pl-3">— help@shop.com</span>
            </p>
          </div>
          <div class="w-80">
            <p>Мы будем вам высылать информацию о новинках, скидках и интересных предложениях</p>
          </div>
        </div>

        <div class="flex justify-between h-16 mt-3">
          <div class="flex justify-between w-80">
            <%= link_to root_path, class:"flex flex-col items-center relative group" do %>
              <%= svg_tag "/images/icons/logo-vk.svg", class:"w-20 border-2 border-white rounded-md p-2" %>
              <span class="uppercase font-extrabold text-[10px] text-white absolute -bottom-1 opacity-0 group-hover:-bottom-5 group-hover:opacity-100 transition-all duration-400">Вконтакте</span>
            <% end %>
            <%= link_to root_path, class:"flex flex-col items-center relative group" do %>
              <%= svg_tag "/images/icons/logo-instagram.svg", class:"w-20 border-2 border-white rounded-md p-2" %>
              <span class="uppercase font-extrabold text-[10px] text-white absolute -bottom-1 opacity-0 group-hover:-bottom-5 group-hover:opacity-100 transition-all duration-400">Инстаграм</span>
            <% end %>
            <%= link_to root_path, class:"flex flex-col items-center relative group" do %>
              <%= svg_tag "/images/icons/logo-github.svg", class:"w-20 border-2 border-white rounded-md p-2" %>
              <span class="uppercase font-extrabold text-[10px] text-white absolute -bottom-1 opacity-0 group-hover:-bottom-5 group-hover:opacity-100 transition-all duration-400">Github</span>
            <% end %>
          </div>

          <div class="flex w-80 text-">
            <%= link_to edit_user_registration_path, class:"flex items-center justify-center text-white border-2 border-white rounded-md p-2 cursor-pointer transition-colors hover:border-brandy-rose hover:bg-brandy-rose hover:text-black" do %>
              <span class="uppercase font-semibold text-xs">Подписаться</span>
            <% end %>
          </div>
        </div>

      </div>
    </footer>
  </body>
</html>
