<div class="flex flex-col items-center h-[560px] text-white">
  <div class="flex flex-col justify-center items-center h-full">
    <div class="flex flex-col items-center bg-mine-shaft px-10 py-9 rounded-lg">

      <h2 class="font-bold text-lg mb-4">Регистрация</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col w-[300px]" }) do |f| %>
        <div class="field flex flex-col relative text-black my-4">
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "relative peer bg-transparent rounded border-2 border-brandy-rose text-white transition-colors placeholder-shown:border-white focus:border-brandy-rose focus:ring-0 focus:outline-0 w-full" %>
          <%= f.label :email, class: "text-brandy-rose text-sm mb-1 absolute -top-5 -left-[1px] peer-placeholder-shown:opacity-0 transition-all" %>
        </div>

        <div class="field flex flex-col relative text-black my-4">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Пароль", class: "relative peer bg-transparent rounded border-2 border-brandy-rose text-white transition-colors placeholder-shown:border-white focus:border-brandy-rose focus:ring-0 focus:outline-0 w-full" %>
          <%= f.label :password, class: "text-brandy-rose text-sm mb-1 absolute -top-5 -left-[1px] transition-all peer-placeholder-shown:opacity-0" %>
        </div>

        <div class="field flex flex-col relative text-black my-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Подтверждение пароля", class: "relative peer bg-transparent rounded border-2 border-brandy-rose text-white transition-colors placeholder-shown:border-white focus:border-brandy-rose focus:ring-0 focus:outline-0 w-full" %>
          <%= f.label :password_confirmation, class: "text-brandy-rose text-sm mb-1 absolute -top-5 -left-[1px] transition-all peer-placeholder-shown:opacity-0" %>
          <% if @minimum_password_length %>
            <span class="text-white italic text-sm">Не менее <%= @minimum_password_length %> символов*</span>
          <% end %>
        </div>

        <div class="actions mb-4">
          <%= f.submit "Зарегистрироваться", class: "cursor-pointer font-medium rounded border-2 border-white transition-all p-2 hover:border-brandy-rose hover:bg-brandy-rose hover:text-black" %>
        </div>
      <% end %>

      <div class="flex flex-col items-center text-sm w-full">
        <div class="flex items-center justify-between w-full">
          <span class="bg-gray-600 grow h-px"></span>
          <span class="mx-3">Есть аккаунт?</span>
          <span class="bg-gray-600 grow h-px"></span>
        </div>
        <%= link_to "Войти", new_session_path(resource_name), class: "transition-colors hover:text-brandy-rose" %>
      </div>

    </div>
  </div>
</div>
